main {
  section {
    padding: 1.5rem;

    &:nth-of-type(1) {
      height: 100dvh;
      display: grid;
      place-content: center;
      text-align: center;

      ul {
        li {
          display: flex;
          gap: 2.5rem;
          flex-direction: column;
          align-items: center;

          small {
            color: var(--navy-blue-color);
            font-size: var(--font-size-s);
          }

          h1 {
            max-width: 60rem;

            span {
              position: relative;
              color: white;
              display: inline-block;

              &::after {
                background: var(--navy-blue-color);
                content: "";
                z-index: -1;
                height: 100%;
                width: 100%;
                top: 0.5rem;
                right: 0;
                position: absolute;
              }
            }
          }

          p {
            max-width: 30rem;
            justify-self: center;
          }
        }
      }
    }
    &:nth-of-type(2) {
      min-height: 100dvh;
      background-color: var(--navy-blue-color);
      display: grid;
      gap: 3rem;
      color: var(--white-color);

      hgroup {
        h2 {
        }

        p {
        }
      }

      hgroup + p {
        margin-bottom: 0;
      }

      img {
        width: 100%;
      }
    }
  }
}
