@keyframes dirtySlider {
  0%,
  20% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-100%);
  }

  70% {
    transform: translateX(-100%);
  }

  80%,
  100% {
    transform: translateX(0);
  }
}

@keyframes cleanSlider {
  0%,
  20% {
    transform: translateX(100%);
  }

  30% {
    transform: translateX(0);
  }

  70% {
    transform: translateX(0);
  }

  80%,
  100% {
    transform: translateX(100%);
  }
}
