*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/OTF/Satoshi-Black.otf") format("woff2"),
    url("../assets/fonts/TTF/Satoshi-Variable.ttf") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/OTF/Satoshi-Medium.otf") format("woff2"),
    url("../assets/fonts/TTF/Satoshi-Variable.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-size-xs: 0.8rem;
  --font-size-s: 1rem;
  --font-size-m: 1.3rem;
  --font-size-l: 1rem;
  --font-size-xl: clamp(2.5rem, 10vw, 6rem);
  --font-size-xxl: clamp(2.5rem, 10vw, 6rem);

  --navy-blue-color: #010154;
  --white-color: #fff;
  --dark-sky-blue-color: #97b4df;
  --charleston-green-color: #2a2829;
  --alabaster-color: #f0ebe5;
  --pastel-gray-color: #dcd2bf;
  --black-color: #000;

  --line-height-p: 1.5;
  --line-height-heading: 1;
}

body {
  font-size: var(--font-size-s);
  font-family: "Satoshi";
  font-weight: 400;
}

p {
  line-height: var(--line-height-p);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.anchor-link {
  color: var(--white-color);
  border-radius: 10rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  background: var(--black-color);
}

.h1-font {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-heading);
}

.h2-font {
  font-size: var(--font-size-l);
  font-weight: 500;
}

.h3-font {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-heading);
}
