*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/OTF/Satoshi-Black.otf") format("woff2"),
    url("../assets/fonts/TTF/Satoshi-Variable.ttf") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/OTF/Satoshi-Medium.otf") format("woff2"),
    url("../assets/fonts/TTF/Satoshi-Variable.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-size-xs: 0.8rem;
  --font-size-s: 1rem;
  --font-size-m: 1.3rem;
  --font-size-l: 1.6rem;
  --font-size-xl: 1.9rem;
  --font-size-xxl: 2.2rem;

  --navy-blue-color: #010154;
  --white-color: #fff;
  --dark-sky-blue-color: #97b4df;
  --charleston-green-color: #2a2829;
  --alabaster-color: #f0ebe5;
  --pastel-gray-color: #dcd2bf;

  --line-height-p: 1.4;
  --line-height-heading: 1.2;
}

body {
  font-size: var(--font-size-s);
  font-family: "Satoshi";
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

ul,
li {
  list-style: none;
}

.h1-font {
  font-size: var(--font-size-xxl);
}

.h2-font {
  font-size: var(--font-size-xl);
}

.h3-font {
  font-size: var(--font-size-l);
}
